<!DOCTYPE html>
<html lan="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Usuario</title>
        <link rel="stylesheet"
              href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
              integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
              crossorigin="anonymous">
    </head>
    <body>
        <hr>
        <div class="container" align="center">
            <footer class="container">
                <a th:href="@{/}">Voltar para a página inicial</a>
            </footer>
        </div>
    </body>
</html>
